// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$link_color: black;
$link_hover_color: #f30e0e;
$secondary_color: #e2e2e2;
