// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

ul {
   list-style: none;
}
